<header>
  <div class="header-container">
    <div class="header">
      <div class="header-icon">
        <span><i class="bi bi-gear-fill"></i> </span>
      </div>
      <div (click)="goToMainPage()" class="header-title">
        <h1><b>Smart</b>Spend</h1>
      </div>
      <div class="header-settings">
        <span><i class="bi bi-bell"></i> </span>
      </div>
    </div>
    <div class="main-card">
        <div class="title-container">
            <div class="title">
                <p>Total de balance</p>
                <h2>S/ 2500.00</h2>
            </div>
            <div class="description">
                <div>
                    <i class="bi bi-check-circle-fill"></i>
                    <span>S/ 420 gastados este mes</span>
                </div>
            </div>
        </div>
        <div class="graphic">

        </div>
    </div>
  </div>
</header>
